<div class="w-full">
  <div class="max-w-screen-xl mx-auto py-10 px-5">
    <div class="text-left pb-5 flex justify-between items-center">
      <h2 class="text-white">SHOWCASES</h2>
      <button class="w-[40px] h-[40px] text-white hover:bg-[#fff1da]/10 p-2">
        <svg
          class="fill-current text-white hover:bg-opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
          />
        </svg>
      </button>
    </div>
    <div>
      <div>
        @for (item of showCaseArray; track $index) {
        <div class="flex items-center p-5 mb-5 bg-gray-800 max-w-lg mx-auto">
          <div class="hidden">
            <img src="" alt="" />
          </div>
          <div>
            <div class="w-[90px] h-[90px] bg-gray-700 p-4">
              <svg
                class="fill-current text-gray-500 hover:bg-opacity-50"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path
                  d="M96 32l0 32L48 64C21.5 64 0 85.5 0 112l0 48 448 0 0-48c0-26.5-21.5-48-48-48l-48 0 0-32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 32L160 64l0-32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192L0 192 0 464c0 26.5 21.5 48 48 48l352 0c26.5 0 48-21.5 48-48l0-272z"
                />
              </svg>
            </div>
          </div>
          <div>
            <div class="ps-5">
              <h5 class="text-white pb-1">{{item.name}}</h5>
              <p class="text-gray-400 gap-2 pb-1">
                <span class="pe-3">{{item.date}}</span>
                <span class="showcase-place relative ps-2">{{item.place}}</span>
              </p>
              <p class="text-gray-500">Featuring: {{item.Featuring.join(', ')}} </p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
