<div class="py-10">
  <div class="flex max-w-screen-xl mx-auto">
    <div class="px-2  page-title">
      <h3 class="uppercase sticky top-[6.5rem] pe-2 text-4xl text-white">About us</h3>
    </div>
    <div class="csstransforms text-white pe-[56px]">
      <div class="relative">
        <div id="page-wrap ">
          <div class="flex items-start max-w-screen-xl mx-auto">
            <!-- <div class="px-2 fixed">
              <h3 class="uppercase pe-2 text-4xl">About us</h3>
            </div> -->
            <div>
              <p>
                Welcome to the world of Spira Records, an independent record
                label that pulsates to the rhythm of deep and hypnotic techno
                music. The name comes from the Latin verb "spīrāre", which means
                "to breathe," and is intended to be music that portrays
                connections between soul and brain.
                <br />
                <br />
                The concept is rooted in the powerful metaphor of a deep
                breath—a moment of mindfulness, inspiration and transformation.
                We strive to evoke the sensation of a deep breath through our
                music—a moment of calmness amidst the chaos, a pause that allows
                us to connect with our inner selves. Our music encourages
                listeners to pause, immerse themselves, and connect with the
                reflective rhythms of the universe that we have created.
              </p>
              <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 pt-10">
                <div class="flex items-center justify-center lg:justify-start">
                  <div>
                    <img
                      class="max-w-[150px] aspect-[1/1] object-cover"
                      src="assets/img/2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="-mt-12 sm:mt-0 md:-md-12 ps-1">
                    <h5 class="ps-5 pb-1 text-md text-nowrap">Gio Gugava</h5>
                    <p class="relative dj-name uppercase text-xs ps-5">
                      Solarmental
                    </p>
                  </div>
                </div>
                <div class="flex items-center justify-center lg:justify-center">
                  <div>
                    <img
                      class="max-w-[150px] aspect-[1/1] object-cover"
                      src="assets/img/3.jpg"
                      alt=""
                    />
                  </div>
                  <div class="-mt-12 sm:mt-0 md:-md-12 ps-1">
                    <h5 class="ps-5 pb-1 text-md text-nowrap">Gio Gugava</h5>
                    <p class="relative dj-name uppercase text-xs ps-5">
                      Solarmental
                    </p>
                  </div>
                </div>
                <div class="flex items-center justify-center lg:justify-end">
                  <div>
                    <img
                      class="max-w-[150px] aspect-[1/1] object-cover"
                      src="assets/img/4.jpg"
                      alt=""
                    />
                  </div>
                  <div class="-mt-12 sm:mt-0 md:-md-12 ps-1">
                    <h5 class="ps-5 pb-1 text-md text-nowrap">Gio Gugava</h5>
                    <p class="relative dj-name uppercase text-xs ps-5">
                      Solarmental
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-10">
            <hr class="border border-4 w-[70%]" />
            <div class=" max-w-screen-xl mx-auto">
              <div>
                <h5 class="pb-3 pt-10">Read an article about Spira Records</h5>
              </div>
              <div>
                <img
                  class="w-full max-h-[70vh] aspect-[5/3] object-cover"
                  src="assets/img/1.jpg"
                  alt=""
                />
                <div class="bg-white">
                  <a href="#" target="_blank" class="block p-2">
                    <p class="text-blue-400 text-sm">HELLOBLOG.GE</p>
                    <h5 class="text-black text-md">
                      <span class="font-bold">SPIRA RECORDS</span> - ახალი
                      ქართული ლეიბლი
                    </h5>
                    <p class="text-blue-400 text-md">Hello Blog</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
