<div class="pieces-slider">
  <div class="pieces-slider__slide hidden" style="width: 100%; height: 100%">
    <img
      class="pieces-slider__image"
      src="assets/img/1.jpg"
      style="width: 100%; height: 100%; object-fit: cover"
      alt=""
    />
    <div class="pieces-slider__text">Ricardo Gomez Angel</div>
  </div>
  <div class="pieces-slider__slide hidden" style="width: 100%; height: 100%">
    <img
      class="pieces-slider__image"
      src="assets/img/2.jpg"
      style="width: 100%; height: 100%; object-fit: cover"
      alt=""
    />
    <div class="pieces-slider__text">Josh Calabrese</div>
  </div>
  <div class="pieces-slider__slide hidden" style="width: 100%; height: 100%">
    <img
      class="pieces-slider__image"
      src="assets/img/3.jpg"
      style="width: 100%; height: 100%; object-fit: cover"
      alt=""
    />
    <div class="pieces-slider__text">Samuel Zeller</div>
  </div>
  <div class="pieces-slider__slide hidden" style="width: 100%; height: 100%">
    <img
      class="pieces-slider__image"
      src="assets/img/4.jpg"
      style="width: 100%; height: 100%; object-fit: cover"
      alt=""
    />
    <div class="pieces-slider__text">Sweet Ice Cream</div>
  </div>
  <div class="pieces-slider__slide hidden" style="width: 100%; height: 100%">
    <img
      class="pieces-slider__image"
      src="assets/img/5.jpg"
      style="width: 100%; height: 100%; object-fit: cover"
      alt=""
    />
    <div class="pieces-slider__text">Sticker Mule</div>
  </div>

  <canvas
    #sliderCanvas
    class="pieces-slider__canvas border-0 -mt-[2px] -ms-[2px] bg-neutral-900"
    style="width: calc(100% + 4px); height: calc(100% + 4px);"
  ></canvas>
  <button
    class="pieces-slider__button pieces-slider__button--prev"
    aria-label="Previous slide"
  >
    <svg
      width="40"
      height="60"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
      viewBox="0 0 24 48"
    >
      <polyline points="20 40 12 24 20 8"></polyline>
    </svg>
  </button>
  <button
    class="pieces-slider__button pieces-slider__button--next"
    aria-label="Next slide"
  >
    <svg
      width="40"
      height="60"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
      viewBox="0 0 24 48"
    >
      <polyline points="4 40 12 24 4 8"></polyline>
    </svg>
  </button>

  <!-- Text overlay at bottom-left -->
  <div
    class="pieces-slider__text-overlay absolute left-5 bottom-5 bg-[#00000099] p-4 md:p-6 md:bottom-7 md:left-7"
    *ngIf="slidesLength > 0"
  >
    <h2
      class="overlay-title inline font-bold text-white/90 text-lg tracking-wide bg-neutral-900"
    >
      {{ titles[currentIndex] | uppercase}}
    </h2>
    <p class="overlay-description pt-2 pb-4  text-neutral-200">
      {{ descriptions[currentIndex] }}
    </p>

    <button
      class=" border border-[#fff1da] text-[#fff1da] hover:bg-[#fff1da]/10 transition-all duration-300 px-4 py-2"
      (click)="onNavigate()"
    >
      MORE INFO
    </button>
  </div>
</div>
